body {
    padding-top: 50px;
    padding-bottom: 20px;
}



.search{
    padding-left:0px;
    padding-top:20px;
    padding-bottom:40px;
}

.homepage{
    padding-top:100px;
    padding-left:0px;
    
    text-align: center;
}

.homepagebuttons{
    padding-top:50px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; 
    
}
