body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.search{
    padding-left:0px;
    padding-top:20px;
    padding-bottom:40px;
}

.homepage{
    padding-top:100px;
    padding-left:0px;
    
    text-align: center;
}
.headline h1 {
    margin-top:55px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size:50px;
    text-align: center;
}

.headline h2 {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.webapp h4{
    font-style: oblique;
    padding-top:100px;
    text-align:center;
}

.homepagebuttons {
    padding-top: 50px;
}

.btnhome{
    width:200px;
}

.contact {
    padding-top:30px;
    
    text-align:center;
}
    .contact h4 {
        padding-bottom: 15px;
    }

.form-group-contact {
    margin-bottom: 10px;
}

.email-text {
    border-radius:5px;
    width:100%;    
}

.send-btn {
    width: 100% !important;
    margin-top: 20px;
}




/* ----Modal---- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* ----Content of the Modal---- */
.modal-content {
    float:inherit;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid;
    width: 500px;
}

/* ----The Close Button---- */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }